.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 5px;
  width: 95px;
  border-radius: 5px;
  color: #000000;
  background-color: #f0f0f0;
}
.button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #f0f0f0;
}
